@use "../variable" as *;

@use "sass:map";

@keyframes bg-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background: black;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg) fixed center;
    background-size: cover;
    animation: bg-load 1.2s 1.2s both;
    margin-bottom: 0;
    z-index: -1;
}

.head {
    &-wrapper {
        position: relative;
        color: white;
        height: calc(80vh + 10vw);
        padding: 3rem 2rem;
    }

    &-start {
        border-radius: 50%;
        display: none;
        margin: 0 auto;
        font-size: 1.5rem;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 3rem;
        height: 100%;
        // animation: head-load 1.2s;

        h1 {
            min-width: 280px;
            max-width: 580px;
            width: 60%;
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: calc(1rem + 0.25vw);
            max-width: 800px;
            font-style: normal;
            margin: 0 auto;
        }

        & .btn {
            margin: 0 auto;
        }
    }
}

.head {
    &-detail-slide-down {
        transform: translateY(10%);
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;
    }

    &-detail-slide-up {
        transform: translateY(0);
        opacity: 1;
        transition: 1.2s;
        pointer-events: all;
    }

    &-btn-slide-down {
        transform: translateY(-50%);
        opacity: 0;
        transition: 1.2s;
        pointer-events: none;
    }

    &-btn-slide-up {
        transform: translateY(-100%);
        opacity: 1;
        transition: 0.5s;
        pointer-events: all;
    }
}

nav {
    ul:not(.icon-container) {
        list-style: none;
        margin: 3rem 0 2rem 0;

        li {
            margin: 1.5rem 0;
            padding: 0;
            position: relative;
            letter-spacing: 1px;

            & + li::before {
                content: "";
                display: block;
                width: 100%;
                height: 1.5px;
                background-color: $gray-color;
                position: absolute;
                top: -0.75rem;
            }
        }
    }
}

#nav {
    &-container {
        background-color: white;
        height: 100vh;
        padding: 0 2rem;
        position: fixed;
        top: 0;
        right: 0;
        color: black;
        width: 300px;
        text-align: start;
        transition: 0.5s;
        font-weight: bold;
        z-index: 2;
    }
    &-menu {
        position: fixed;
        padding: 0.25rem 0.5rem;
        top: 1rem;
        right: 1rem;
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.3s;

        & a::before {
            margin-right: 0.25rem;
        }
    }
}

.nav {
    &-container-hide {
        transform: translateX(100%);
    }

    &-menu-show {
        background-color: white;
        opacity: 0.8;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: black;
    }

    &-menu-hide {
        background-color: transparent;
        color: white;
    }
}

.close-icon {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: $dark-color;
    margin: 0;
    cursor: pointer;

    &::before {
        content: "\f00d";
    }
}

iframe {
    background-color: white;
    border: none;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}

.overlay {
    position: fixed;
    top: 0;
    background: black;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    transition: 0.5s;

    &-fade-in {
        opacity: 0.4;
        z-index: 1;
    }

    &-fade-out {
        opacity: 0;
        z-index: -1;
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    grid-template-rows: 1fr;
    font-size: 0.9rem;
    background-color: $light-color;
    color: $dark-color;
    text-align: left;

    &-item {
        padding: 2rem;
        border-bottom: 2px solid $gray-color;
        margin-bottom: 0;
    }

    &-form {
        margin-bottom: 0;

        label,
        span {
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            margin-bottom: 0;
        }

        input,
        textarea {
            margin: 1rem 0 2rem 0;
        }

        .btn {
            margin-bottom: 0;
        }
    }

    &-info {
        margin-bottom: 0;

        .contact-item {
            display: flex;
            align-items: center;
            height: 25%;

            &-wrapper {
                display: flex;
                justify-content: start;
                align-items: top;
                margin-bottom: 0;
            }

            span {
                width: 100px;
                height: 100%;
                display: inline-block;
                text-align: start;
                margin-bottom: 0;
            }

            p,
            ul {
                margin-bottom: 0;
                height: 100%;
            }
        }
    }
}

footer {
    text-align: center;

    .actions {
        justify-content: center;
        margin-bottom: 0;

        li + li {
            padding: 0;
        }
    }

    span {
        position: relative;
        font-weight: bold;
        font-size: 0.8rem;
        position: relative;
        text-transform: uppercase;
        color: opacify($dark-color, 0.25);
    }
}

@media screen and (min-width: map.get($breakpoints, "p")) {
    .container {
        padding: 0 2rem;
    }

    .head-start {
        display: flex;
    }

    footer {
        .actions {
            li + li {
                padding: 0 0 0 1rem;

                span::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -0.5rem;
                    transform: translateY(-50%);
                    width: 1.5px;
                    height: 80%;
                    display: inline-block;
                    background-color: opacify($dark-color, 0.25);
                }
            }
        }
    }
}

@media screen and (min-width: map.get($breakpoints, "la")) {
    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        font-size: 0.8rem;

        ul:not(.icon-container) {
            margin: 0;
            display: flex;

            li {
                margin: 0;

                a {
                    padding: 1.2rem;
                    margin-bottom: 0;
                    display: block;

                    &.active {
                        color: black;
                        background-color: white;

                        &:hover {
                            color: $main-color;
                        }
                    }

                    &:not(.active) {
                        &:hover {
                            color: white;
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }

                & + li::before {
                    display: none;
                }
            }
        }

        ul.icon-container {
            padding-right: 1.2rem;
            width: auto;
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
    // nav strong {
    //     font-size: 0.7rem;
    // }

    // nav li:not(.active) a:hover {
    //     background-color: rgba(255, 255, 255, 0.25);
    //     color: white;
    // }

    // nav ul {
    //     padding: 0;
    //     gap: 0;
    //     display: flex;
    // }

    // nav ul li {
    //     margin: 0;
    //     letter-spacing: 1px;
    //     display: inline-block;
    //     cursor: pointer;
    // }

    // nav ul li a {
    //     padding: 1.5rem;
    //     display: inline-block;
    //     transition: 0.3s;
    // }

    // nav ul .social-box {
    //     margin: 0;
    //     display: inline-flex;
    //     margin-right: 1.5rem;
    //     margin-left: auto;
    //     align-items: center;
    // }

    // nav ul .social-box a {
    //     border: none;
    // }

    // nav ul .social-box a i::before {
    //     font-size: 1.2rem;
    // }

    // nav ul li + li::before {
    //     display: none;
    // }

    #nav {
        &-menu {
            display: none;
        }
        &-container {
            background-color: rgba(255, 255, 255, 0.25);
            padding: 0;
            transform: translateX(0);
            position: static;
            width: 100%;
            height: auto;
            color: white;
            z-index: 1;
        }
    }

    .close-icon {
        display: none;
    }

    .contact {
        &-form {
            .contact-item {
                border-bottom: none;
                border-right: 2px solid $gray-color;
            }
        }
    }
}
